################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ConsoleApp3/.vs/ConsoleApp3/v15/Server/sqlite3/db.lock
